.footer{
    background-color: #571a14;
    color: white;
    text-align: center;
    padding: 1rem;
    margin-top: 20px;
}

/* Mobile */
@media (max-width: 480px) {
    .footer {
        padding: 15px 10px;
        text-align: center;
    }
}